<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.infinity.app">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".SpaceInfinity"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_short"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.IntroActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6Q7OhqamuUw_pJo8rsEXP-xuKR3CwQlo" />

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ApodActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.IssActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.FullscreenActivity" />
        <activity
            android:name=".view.activity.GalleryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FactsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EncyclopediasActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EncyclopediaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.SettingsActivity" />
        <activity
            android:name=".view.activity.SearchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.ISSLiveStreamActivity" />
        <activity
            android:name=".view.activity.AstronautsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RocketsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VoyagerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.NewsFeedActivity" />
        <activity
            android:name=".view.activity.AstronautActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RocketActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SpaceXActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LaunchSitesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RocketLaunchesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LaunchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.InternalWebActivity" />
        <activity
            android:name=".view.activity.LaunchSiteActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MediaLinkDialog"
            android:theme="@style/AppTheme.Dialog" />

        <service android:name=".util.DownloadService" />
        <service
            android:name=".util.NotificationService"
            android:label="Notify Process"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>