<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="space.infinity.app">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_short"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6Q7OhqamuUw_pJo8rsEXP-xuKR3CwQlo" />

        <activity android:name=".activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.ApodActivity" />
        <activity android:name=".activities.MarsRoverActivity" />
        <activity android:name=".activities.MarsActivity" />
        <activity android:name=".activities.IssActivity" />
        <activity android:name=".activities.UpcomingLaunches" />
        <activity android:name=".activities.FullscreenActivity" />
        <activity android:name=".activities.GalleryActivity" />
        <activity android:name=".activities.FactsActivity" />
        <activity android:name=".activities.PreEncyclopedia" />
        <activity android:name=".activities.ChooseEncyclopedia" />
        <activity android:name=".activities.Encyclopedia" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.About" />

        <receiver android:name=".utils.NotificationService" />
    </application>

</manifest>